.title {
    -fx-font-weight: bolder;
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.heading {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.subheading {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.errorBox {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.errorText {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}